.background {
  max-height: 100vh;
  width: 100%;
  background-image: url(../src/pics/Website\ Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}